body {
    font-family: "Andale Mono", monospace;
    background-color: #222;
    color: #fff;
    margin: 0;
}

.stock_info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

#price_div {
    display: none;
    margin-bottom: 5px;
    margin-top: 10px;
}

#open_div {
    display: none;
    margin-bottom: 5px;
}

#change_div {
    display: none;
    margin-bottom: 5px;
}

#symbol {
    margin-bottom: 5px;
}

#name {
    margin-bottom: 10px;
}