body {
    font-family: "Andale Mono", monospace;
    background-color: #222;
    color: #fff;
    margin: 0;
    width: 100%;
}

.stock_info {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

#search {
    font-family: "Andale Mono", monospace;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    border: none;
}

#submit {
    font-size: 18px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: none;
}

#name_div {
    margin-bottom: 10px;
}

#price_div {
    display: none;
    margin-bottom: 5px;
    margin-top: 10px;
}

#change_div {
    display: none;
    margin-bottom: 5px;
}

#change_icon {
    margin-right: 5px;
}

#symbol {
    margin-bottom: 5px;
}